{
  "version": "2017-02-28",
  "operation": "PutItem",
  "key": {
    "NoteId": $util.dynamodb.toDynamoDBJson($util.autoId()),
    "UserId": $util.dynamodb.toDynamoDBJson($ctx.identity.sub)
  },
  "attributeValues": {
    "title": $util.dynamodb.toDynamoDBJson($ctx.args.title),
    "content": $util.dynamodb.toDynamoDBJson($ctx.args.content)
  }
}